div > a {
  width: 290px;
}

.container {
  max-width: 700px;
  margin-top: 50px;
}

.responsive {
  width: 100%;
  height: auto;
}

.title {
  background: url("../home/image/background.jpg");
  position: relative;
  height: 50%;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  background: rgba(0, 0, 0, 0.7);
  padding: 10px 20px;
}

.bottom-fix {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  background: rgba(0, 0, 0, 0.9);
  padding: 10px 20px;
}
